.menu-account-list {
  .menu-item {
    display: flex;
    cursor: pointer;
    font-size: 14px !important;
    padding: 6px 8px;
    margin-left: 0 !important;
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .menu-item-icon {
      margin-right: 10px;
  
    }

    .menu-item__title {
      color: #000;
      @media (max-width: 576px) {
          font-size: 12px;
        }
    }
  }
}
