.menu-account-list {
  .menu-item {
    display: flex;
    font-size: 14px !important;
    padding: 6px 8px;
    margin-left: 0 !important;
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .menu-item-icon {
      margin-right: 10px;
    }
  }
}
